/**
  Нормалізація блокової моделі
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Прибираємо внутрішні відступи зліва у тегів списків,
  які мають атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Прибираємо зовнішні відступи у body і двох інших тегів,
  які мають атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Прибираємо зовнішні вертикальні відступи у потрібних тегів,
  які мають атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Прибираємо стандартний маркер у маркованих списків,
  які мають атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляємо вертикальні зовнішні відступи абзацу,
  оголошуємо локальну змінну для зовнішнього відступу вниз,
  щоб уникнути взаємодії зі складнішим селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Зовнішній відступ вниз для абзацу без атрибута class,
  який розташований не останнім серед сусідніх елементів
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Спрощуємо роботу з зображеннями та відео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Успадковуємо властивості шрифту для полів введення
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Стане в пригоді у більшості ситуацій
    (наприклад, коли потрібно "прикріпити" футер донизу сайту)
   */
  height: 100%;
  /**
    Прибираємо стрибок інтерфейсу по горизонталі
    при появі / зникненні скролбару
   */
  scrollbar-gutter: stable;
}

/**
  Плавний скрол
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Стане в пригоді у більшості ситуацій
    (наприклад, коли потрібно "прикріпити" футер донизу сайту)
   */
  min-height: 100%;
  /**
    Уніфікований міжрядковий інтервал
   */
  line-height: 1.5;
}

/**
  Нормалізація висоти елемента посилання при його інспектуванні в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор у вигляді руки при наведенні на елемент
 */
button,
label {
  cursor: pointer;
}

/**
  Виправляємо баг затримки зміни кольору при взаємодії з svg-елементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведення меж таблиць до класичного виду 'collapse'
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Видаляємо всі анімації та переходи для людей,
  які воліють їх не використовувати
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
